/* General */
body {
   text-align: center;
   font-family: Arial;
   color: darkblue;
}

h1 {
    color: darkorange;
}

/* For lists + links */
a:link {
   color: darkblue; 
}   

a:visited {
   color: darkblue;  
}   

nav ul {
   list-style-type: none;
   padding: 10px 0;
}

nav li {
   display: inline;
}

nav li a {
   text-decoration: none;  
   padding: 10px 20px;
}

nav li a:hover {
   color: white;
   background-color: darkblue;    
}
